.hidden {
    display: none;
}

header, table {
    width: 1000px;
    margin: auto;
    border-spacing: 0;
}

th {
    font-size: 12px;
    text-align: left;
    vertical-align: top;
}

caption {
    font-size: 14px;
}

tr:nth-child(odd) {
    background: #ccc;
}

tr:nth-child(even) {
    background: #eee;
}

#quest_data th, #gui_message th, #set_em_main th {
    text-align: right;
}

#archive tbody td,
#quest_data th,
#gui_message th,
#set_em_main th,
#em_set_list tbody td:first-child, #em_set_list tbody td:last-child,
#rem table:last-child tbody td:first-child,
#supply_list tbody td:first-child {
    width: 1%;
    white-space: nowrap;
}

#archive tbody td:nth-child(2), input[type="number"], input[type="text"], textarea {
    width: 99%;
}

textarea {
    resize: none;
}

h1 {
    font-size: 14px;
    text-align: center;
}

#save {
    float: right;
}

